{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'styles2.css' %}">
</head>

<body>

<div id="box1">
  <div id="signin">
  
<form method="POST" action="/signin/">
    {% csrf_token %}
    <h1> sign in  </h1>
    <h5>dont have account ?  <a class="bt"  href="{% url 'signup' %}"> create account</a> </h5> 
    
     <input type="email" name="email" placeholder="email adress"   />
        <p> </p>
     <input type="password" name="password1" placeholder="passsword"   />
        <p> </p>
        <label for="rememeber">
            <input type="checkbox">
            rememeber me 
        </label>
        <p> </p>
        <button id="bt" type="submit">Sign In -> </button> 


</form>
  </div>
</div>


<div id="box2">
    <img id="img" src="{% static 'C:\Users\asus\cse\static\work.png' %}" alt="work"   >
</div>

</body>





