body {
    background-color: red;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scrollbars */
}

#box1 {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: white;
}

#box2 {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 50%; /* Fix the positioning to align correctly */
    top: 0;
    background-color: #080325;
}



#img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the image */
    width: 50%;
    height: 50%;
     /* Ensures the image fills the box without distortion */
}
#signin {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the image */
    width: 50%;
    height: 50%;
     /* Ensures the image fills the box without distortion */
}
.bt{
    
    color:#0A65CC;
}
#bt{
    background-color: #0A65CC;
    color: white;
}